@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-image: url('../../img/go-back-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.character-container {
  font-family: 'Roboto', sans-serif;
  margin-top: 76px;
  .character-image {
    img {
      max-width: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 5px solid #f2f2f7;
    }
  }
  .character-information {
    .character-name {
      font-size: 48px;
      font-weight: 400;
      margin-bottom: 48px;
      margin-top: 16px;
    }
    .character-details {
      max-width: 413px;
      text-align: left;
      margin: 0 auto;
      margin-top: 48px;
      .details-caption {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        margin-top: 5px;
      }
    }
  }
}
