.input-container {
  width: 100%;
  margin-bottom: 33px;

  .input {
    padding-left: 19px;
    width: 100%;
    height: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-sizing: border-box;
    @media (max-width: 576px) {
      font-size: 14px;
      height: 48px;
    }
  }

  .input::placeholder {
    background-image: url('../../img/icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 30px;

    @media (max-width: 576px) {
      background-size: 18px;
      background-position: 10px center;
      padding-left: 38px;
    }
  }

  @media (max-width: 768px) {
    .input {
      height: 48px;
      font-size: 14px;
    }
  }

  @media (max-width: 576px) {
    .input {
      height: 40px;
      font-size: 12px;
    }
  }
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .character {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    width: calc(25% - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
  }

  .character-image {
    max-width: 100%;
    height: auto;
    padding-top: 28px;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .character-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .character-name {
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin: 12px 16px;
  }

  .character-species {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin: 1px 16px 12px;
  }
  @media (max-width: 768px) {
    .character {
      width: calc(100% - 20px);
      margin: 0 10px;
      margin-bottom: 20px;
    }
  }
  .link {
    color: blue;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }
  .load-more-button {
    margin-bottom: 10px;
    button:hover {
      cursor: pointer;
    }
  }
}
