.input-container {
  width: 100%;
  margin-bottom: 33px;

  .input {
    padding-left: 19px;
    width: 100%;
    height: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
  .input::placeholder {
    background-image: url('../../img/icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 30px;
  }
}
.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .character {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    width: calc(25% - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
  }
  .character-image {
    width: 100%;
    height: auto;
    padding-top: 28px;
  }
  .character-details {
    text-align: left;
  }
  .character-name {
    font-size: 20px;
    font-weight: 500;
    color: black;
  }

  .character-species {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }
}
